<!DOCTYPE html>
<html>
<head>
    <title>3 Card Tarot Reading</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>3 Card Tarot Reading</h1>
    <div id="cards">
        {% for card in cards %}
        <div class="card">
            <img src="{{ card.image_url }}" alt="{{ card.card_image }}">
            <h2>{{ card.card_name  }} - {{ card.card_number }}</h2>
            <p><b>Brief:</b> {{ card.card_meaning_upright if card.orientation == 'upright' else card.card_meaning_reversed }}</p>
            <hr/>
            <p><b>Description:</b> {{ card.card_description_upright if card.orientation == 'upright' else card.card_description_reversed }}</p>
        </div>
        {% endfor %}
    </div>
    <div style="margin-left: 30px;">
        {{ reading|safe }}
    </div>
</body>
</html>